/* body related styles */
* {
  margin: 0;
  padding: 0;
  font-family: work sans;
}

/* common styles */

.primary-btn {
  color: #0288c2;
  padding: 15px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}

main section {
  margin: 50px 200px 100px 200px;
}

/* header related styles */
header {
  background-image: url("../images/banner/banner3.png");

  background-repeat: no-repeat;
  background-size: 100%;
  padding: 216px 100px 200px 800px;
}

.header-section {
  text-align: right;
  width: 250px;
}

.header-title,
.header-description {
  color: #fff;
  margin-bottom: 20px;
}

.header-title {
  font-size: 36px;
}

.header-description {
  font-size: 14px;
}

/* failures section related styles */
.failures-section {
  background-image: url("../images/person.png");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: center left;
}

.failures-items {
  padding: 200px 50px 50px 500px;
  width: 280px;
}

.failures-title {
  font-size: 28px;
}

.failures-description {
  line-height: 20px;
}

.failures-description,
.failures-list {
  font-size: 13px;
  color: #4f4e4e;
}

.failures-title,
.failures-description {
  margin-bottom: 18px;
}

.failures-list li,
span {
  list-style-type: none;
  margin-bottom: 4px;
}

.tik-mark {
  color: #33de97;
  font-weight: bolder;
  margin-right: 3px;
}

/* plan section related styles */

.plan-title {
  text-align: center;
  margin-bottom: 30px;
}

.plan-list {
  display: flex;
  gap: 130px;
  text-align: center;
}

.plan-list .plan-list-box img {
  width: 70px;
}

.plan-list .plan-list-box img,
.plan-list-title {
  margin-bottom: 10px;
}

.plan-list-title {
  font-size: 16px;
}

.plan-list-action {
  font-size: 14px;
  color: #858383;
}

/* positive section related styles */
.pos-banner {
  background-image: url("../images/gradient1.png"), url("../images/watch.png");
  background-repeat: no-repeat;
  padding: 50px 50px;
  background-position: center left;
  background-size: 100%, 100%;
  border-radius: 5px;
  border: none;
}

.pos-title {
  color: #fff;
  width: 300px;
  margin-bottom: 20px;
}
